//
// Copyright © 2006-2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Build/Configuration/Vendor.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
MODULE_NAME = $(TARGET_NAME)
PRODUCT_MODULE_NAME = $(TARGET_NAME)

PRODUCT_BUNDLE_IDENTIFIER = $(SOSO_VENDOR_IDENTIFIER).$(PRODUCT_NAME)

CODE_SIGN_ENTITLEMENTS = Cappella/Resources/Cappella.entitlements
CODE_SIGN_STYLE = Automatic

MACOSX_DEPLOYMENT_TARGET = 15.0

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_NSPrincipalClass = NSApplication
INFOPLIST_KEY_CFBundleName = $(PRODUCT_NAME)
INFOPLIST_KEY_CFBundleDisplayName = $(PRODUCT_NAME)
INFOPLIST_FILE = Cappella/Resources/Cappella-Info.plist
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.music
INFOPLIST_KEY_NSAppleMusicUsageDescription = CoverSutra helps you to find and play albums in your Apple Music Library.
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2006-2024 Sophiestication Software. All rights
