//
// Copyright © 2006-2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Cappella.xcconfig"

ENABLE_TESTABILITY = YES

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
OTHER_SWIFT_FLAGS = -DDEBUG

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf

ASSETCATALOG_COMPILER_APPICON_NAME = Development-AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
DEVELOPMENT_ASSET_PATHS = $(SRCROOT)/Cappella/Resources/Development.xcassets

EXCLUDED_SOURCE_FILE_NAMES =
