//
// Copyright © 2006-2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Build/Configuration/Vendor.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
MODULE_NAME = $(TARGET_NAME)
PRODUCT_MODULE_NAME = $(TARGET_NAME)

PRODUCT_BUNDLE_IDENTIFIER = $(SOSO_VENDOR_IDENTIFIER).$(PRODUCT_NAME)

CODE_SIGN_STYLE = Automatic

TEST_HOST = $(BUILT_PRODUCTS_DIR)/Cappella.app/$(BUNDLE_EXECUTABLE_FOLDER_PATH)/Cappella
BUNDLE_LOADER = $(TEST_HOST)

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_CFBundleName = $(PRODUCT_NAME)
INFOPLIST_KEY_CFBundleDisplayName = $(PRODUCT_NAME)
