//
// Copyright © 2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Cappella.xcconfig"

PRODUCT_NAME = CoverSutra
PRODUCT_BUNDLE_IDENTIFIER = com.sophiestication.mac.$(PRODUCT_NAME)

INFOPLIST_KEY_CFBundleDisplayName = $(PRODUCT_NAME) β
