//
// Copyright © 2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Public.xcconfig"

VERSIONING_SYSTEM = apple-generic
CURRENT_PROJECT_VERSION = 400
VERSION_INFO_PREFIX =
