//
// Copyright © 2024 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Shared.xcconfig"

CURRENT_PROJECT_VERSION = $(CI_BUILD_NUMBER)
PRODUCT_NAME = CoverSutra
PRODUCT_BUNDLE_IDENTIFIER = com.sophiestication.mac.$(PRODUCT_NAME)
