//
// Copyright © 2022 Sophiestication Software. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Production.xcconfig"


// Vendor Configuration

// SOSO_CONFIGURATION_NAME = Beta
SOSO_APPLICATION_DISPLAYNAME = $(SOSO_APPLICATION_NAME) β


// Xcode Configuration

